{% extends "layout.twig" %}
{% block head %}
    <title>Mon Compte</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <p>Mon compte {{ varList.user.first_name }}</p>
    </div>
{% endblock %}
