<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" controller="Home" action="index"></route>
  <route url="/Inscription" controller="Login" action="registration"></route>
  <route url="/Connexion" controller="Login" action="loginPage"></route>
  <route url="/Connexion-Redirect-([a-zA-Z0-9]+)" controller="Login" action="loginPage" vars="redirect"></route>
   <route url="/Connexion-Validation-([0-9]+)-([a-zA-Z0-9]+)" controller="Login" action="loginPage" vars="userId,token"></route>
</routes>