{% extends "adminLayout.twig" %}
{% block head %}
    <title>Mon Compte Admin</title>
{% endblock %}

{% block content %}

<div class="container text-center">
    <p>Mon compte Admin {{ varList.user.first_name }}</p>
</div>
{% endblock %}
