{% extends "layout.twig" %}
{% block head %}
    <title>Mon Compte Admin</title>
{% endblock %}

{% block content %}

{% if varList.error is defined %}
    <div class="container text-center text-danger mt-3">
        <p>Erreur<p>
        {% for error in varList.error %}
            <p>Le champ : {{error}} est obligatoire</p>
        {% endfor %}
    </div>
{% endif %}

{% if varList.error_message is defined %}
    <div class="container text-center text-danger mt-3">
        <p>Erreur<p>
        <p>{{varList.error_message}}</p>
    </div>
{% endif %}

<div class="container text-center">
    <p>Mon compte Admin {{ varList.user.first_name }}</p>
</div>
{% endblock %}
