{% extends "layout.twig" %}
{% block head %}
    <title>Réinitialiser le mot de passe</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light p-3 border m-0 mb-5 row">
        <div class="container col-12">
            <h3>Réinitialiser le mot de passe</h3>
            <p>Entre votre nouveau mot de passe pour les changer</p>
        </div>
    </div>
    <div class="container text-center col-12 col-sm-12 col-lg-8 col-xl-8 bg-light rounded p-3">
        <form action="" method="post">
            <div class="form-group">
                <label for="password">Nouveau Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Votre nouveau mot de passe">
            </div>
            <div class="form-group mt-3">
                <label for="confirmPassword">Confirmation nouveau mot de passe</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmer votre nouveau mot de passe">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Valider</button>
        </form>
    </div>
{% endblock %}