{% extends "layout.twig" %}
{% block head %}
    <title>Réinitialiser le mot de passe</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light p-3 border m-0 mb-5 row">
        <div class="container col-12">
            <h3>Réinitialiser le mot de passe</h3>
            <p>Entre votre email pour changer votre mot de passe</p>
        </div>
    </div>
    <div class="container text-center col-12 col-sm-12 col-lg-8 col-xl-8 bg-light rounded p-3">
        <form action="" method="post">
            <div class="form-group">
                <label for="login">Email ou Identifiant</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Votre email ou identifiant">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Valider</button>
        </form>
    </div>
{% endblock %}