{% extends "layout.twig" %}
{% block head %}
    <title>Réinitialiser le mot de passe</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <p>Réinitialiser le mot de passe</p>
        <form action="" method="post">
            <div class="form-group">
                <label for="password">Nouveau Mot de passe</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Votre nouveau mot de passe">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmation nouveau mot de passe</label>
                <input type="text" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirmer votre nouveau mot de passe">
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
{% endblock %}